# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [3]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [6]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [8]:
# Crear serie de Pandas
series = pd.Series(lst)
print(series)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [11]:
# Acceso a un valor via índice
series[2]

74.4

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [14]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [16]:
# Crear un DataFrame a partir de una lista
df = pd.DataFrame(b)
df

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [19]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [21]:
column_names = df.columns
print(f"Column Names: {column_names}")

Column Names: RangeIndex(start=0, stop=5, step=1)

In [23]:
# Column names
df = pd.DataFrame(b, columns=["Score_" +str(c) for c in df.columns])
df

   Score_0  Score_1  Score_2  Score_3  Score_4
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

In [25]:
column_names = df.columns
print(f"Column Names: {column_names}")

Column Names: Index(['Score_0', 'Score_1', 'Score_2', 'Score_3', 'Score_4'], dtype='object')

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [28]:
# Selecting a subset of columns using the list of column names
df[['Score_0','Score_2','Score_4']]

   Score_0  Score_2  Score_4
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [31]:
# Valor promedio de una columna
np.mean(df[['Score_3']])

47.279999999999994

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [34]:
# Valor máximo de una columna
np.max(df[['Score_4']])

91.8

### 9. Del DataFrame original, calcula la media valor del Score_2.

In [37]:
np.median(df[['Score_2']])

53.599999999999994

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [40]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [42]:
# Crear DataFrame a partir de diccionario
pedidos = pd.DataFrame(orders)
# Mostrar DataFrame
pedidos

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

In [44]:
# Mostrar info
pedidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Description  10 non-null     object
 1   Quantity     10 non-null     int64
 2   UnitPrice    10 non-null     float64
 3   Revenue      10 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 452.0+ bytes

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [47]:
# Total unidades vendidas y total ingresos generados
#total_unidades = np.sum(pedidos[['Quantity']], axis=0)
total_unidades = pedidos['Quantity'].sum()
print("Total unidades vendidas: ", total_unidades)
#total_ingresos = np.sum(pedidos[['Revenue']], axis=0)
total_ingresos = pedidos['Revenue'].sum()
print("Total ingresos: ", total_ingresos)

Total unidades vendidas:  2978
Total ingresos:  637.0

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [50]:
# Artículo más caro y más barato
caro = pedidos['UnitPrice'].min()
barato = pedidos['UnitPrice'].max()
print("La diferencia entre el producto más caro y el más barato es", caro-barato)

La diferencia entre el producto más caro y el más barato es -11.77

## Carguemos otro conjunto de datos para más ejercicios

In [378]:
# Cargar datos de archivo externo
admissions = pd.read_csv('../Admission_Predict.csv')

Evaluemos el conjunto de datos mirando la función `head`.

In [381]:
# Primeras filas
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [383]:
# Últimas filas
admissions.tail()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [386]:
# Datos vacíos (rápido, examinando Non-Null Count en info())
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         385 non-null    int64
 1   GRE Score          385 non-null    int64
 2   TOEFL Score        385 non-null    int64
 3   University Rating  385 non-null    int64
 4   SOP                385 non-null    float64
 5   LOR                385 non-null    float64
 6   CGPA               385 non-null    float64
 7   Research           385 non-null    int64
 8   Chance of Admit    385 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 27.2 KB

In [388]:
# Datos vacíos (lento, más detallado)
# Check the dataset info
admissions.info()
# Check for missing values in the DataFrame
missing_values = pd.isnull(admissions)
# Count missing values in each column
missing_counts = missing_values.sum()
# Count columns with missing values
columns_with_missing = missing_counts[missing_counts > 0].count()
# Check if all columns have missing values
all_columns_missing = missing_counts.all()
# Calculate the total number of missing values
total_missing_values = missing_counts.sum()
# Display the results
print("\nMissing Values in Each Column:\n", missing_counts)
print("\nNumber of Columns with Missing Values:", columns_with_missing)
print("\nAll Columns Have Missing Values:", all_columns_missing)
print("\nTotal Missing Values in the DataFrame:", total_missing_values)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         385 non-null    int64
 1   GRE Score          385 non-null    int64
 2   TOEFL Score        385 non-null    int64
 3   University Rating  385 non-null    int64
 4   SOP                385 non-null    float64
 5   LOR                385 non-null    float64
 6   CGPA               385 non-null    float64
 7   Research           385 non-null    int64
 8   Chance of Admit    385 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 27.2 KB

Missing Values in Each Column:
 Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Number of Columns with Missing Values: 0

All Columns Have Missing Values: False

Total Missing Values in the DataFrame: 0

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [391]:
# Utilizar columna existente como índice
admissions.set_index('Serial No.', inplace=True, drop=False)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [394]:
# Filas donde CGPA > 9 y Research == 1
nro_estudiantes = admissions[(admissions['CGPA']>9) & (admissions['Research']==1)].shape[0]
print(f"Estudiantes con CGPA > 9 y que han realizado una Research: {nro_estudiantes}")

Estudiantes con CGPA > 9 y que han realizado una Research: 101

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [397]:
# Muy mala idea lo de poner un espacio al final del nombre de columna...
#print(admissions.columns)

probab_media = admissions[(admissions['CGPA']>9) & (admissions['SOP']<3.5)]['Chance of Admit '].mean()
print(f"Probabilídad media de admisión: {probab_media}")


# Notas para mí misma...
#admtmp = admissions.copy()
#admtmp = admtmp.rename_axis('KKvaca')
#admtmp = admtmp.drop('Serial No.', axis=1)
#admtmp = admtmp.reset_index()
#admtmp.info()
#admtmp
#print(admtmp.columns)
#filtrado = admtmp[(admtmp['CGPA']>9) & (admtmp['SOP']<3.5)]

#admtmp
#kkvalor = admtmp[(admtmp['CGPA']>9) & (admtmp['SOP']<3.5)]['Chance of Admit '].mean()
#print(kkvalor)

Probabilídad media de admisión: 0.8019999999999999